# CACA

## Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import glob
import os

from datetime import datetime

In [2]:
df_first = pd.read_csv('CGI-alles/Data/PMP Data/AH$2113_Motorstroomdata.csv', delimiter = ';')

## Data Viz

In [15]:
df_first

      Assetnaam    Attribuut                 Timestamp                Value
0       AH$2113  Motorstroom  2022-02-28T23:38:15.934Z              -0,0625
1       AH$2113  Motorstroom  2022-02-28T23:38:15.954Z              -0,0625
2       AH$2113  Motorstroom  2022-02-28T23:38:15.974Z                  0,2
3       AH$2113  Motorstroom  2022-02-28T23:38:15.994Z                 5,55
4       AH$2113  Motorstroom  2022-02-28T23:38:16.014Z                 13,2
...         ...          ...                       ...                  ...
86695   AH$2113  Motorstroom  2022-03-31T19:26:15.064Z  -0,0374999999999996
86696   AH$2113  Motorstroom  2022-03-31T19:26:15.084Z  -0,0374999999999996
86697   AH$2113  Motorstroom  2022-03-31T19:26:15.104Z  -0,0249999999999995
86698   AH$2113  Motorstroom  2022-03-31T19:26:15.124Z  -0,0249999999999995
86699   AH$2113  Motorstroom  2022-03-31T19:26:15.144Z                    0

[86700 rows x 4 columns]

In [12]:
df_first.groupby(['Attribuut']).count()

             Assetnaam  Timestamp  Value
Attribuut
Motorstroom      86700      86700  86700

In [3]:
df_second = pd.read_csv('CGI-alles/Data/PMP Data/AH$2113_otherdata.csv', delimiter = ';')
df_second

      Assetnaam    Attribuut                 Timestamp Value
0       AH$2113  Temperatuur  2022-02-28T23:38:15.934Z   3,4
1       AH$2113  Temperatuur  2022-03-01T00:15:25.267Z     3
2       AH$2113  Temperatuur  2022-03-01T04:52:01.512Z   1,4
3       AH$2113  Temperatuur  2022-03-01T04:57:02.526Z   1,4
4       AH$2113  Temperatuur  2022-03-01T06:55:03.290Z   2,2
...         ...          ...                       ...   ...
10440   AH$2113  Alarm Event  2022-03-31T17:41:41.932Z  Geen
10441   AH$2113  Alarm Event  2022-03-31T19:11:42.232Z  Geen
10442   AH$2113  Alarm Event  2022-03-31T19:12:02.232Z  Geen
10443   AH$2113  Alarm Event  2022-03-31T19:25:55.144Z  Geen
10444   AH$2113  Alarm Event  2022-03-31T19:26:15.144Z  Geen

[10445 rows x 4 columns]

In [31]:
df_second.groupby(['Attribuut']).count()

                               Assetnaam  Timestamp  Value
Attribuut
Alarm Event                         1764       1764   1764
Energieoppervlakte Links             448        448    448
Energieoppervlakte Rechts            448        448    448
Inschakelpiek Links                  448        448    448
Inschakelpiek Rechts                 448        448    448
IsMaintenance                        900        900    900
Max Omloopstroom Links               448        448    448
Max Omloopstroom Rechts              448        448    448
MsgCounter                           900        900    900
Omlooptijd Links Motorstroom         448        448    448
Omlooptijd Rechts Motorstroom        448        448    448
Positie Wissel                       900        900    900
StatusSW                             583        583    583
StatusSW Event                         6          6      6
StatusSW Type                         12         12     12
Temperatuur                          900        900    900
Type Event                           896        896    896

In [4]:
# df_second = df_second.drop(df_second[df_second['Value'].str.contains].index)

KeyError: 'value'

In [91]:
data_path = r'CGI-alles/Data/PMP Data'


data_filenames = glob.glob(data_path + "/*")
data_filenames

files_list = []

for filename in data_filenames[:2]:
    df = pd.read_csv(filename, delimiter = ';')
    files_list.append(df)

df_switches = pd.concat(files_list, axis=0)
df_switches

      Assetnaam    Attribuut                 Timestamp    Value
0       AH$2113  Motorstroom  2022-02-28T23:38:15.934Z  -0,0625
1       AH$2113  Motorstroom  2022-02-28T23:38:15.954Z  -0,0625
2       AH$2113  Motorstroom  2022-02-28T23:38:15.974Z      0,2
3       AH$2113  Motorstroom  2022-02-28T23:38:15.994Z     5,55
4       AH$2113  Motorstroom  2022-02-28T23:38:16.014Z     13,2
...         ...          ...                       ...      ...
10440   AH$2113  Alarm Event  2022-03-31T17:41:41.932Z     Geen
10441   AH$2113  Alarm Event  2022-03-31T19:11:42.232Z     Geen
10442   AH$2113  Alarm Event  2022-03-31T19:12:02.232Z     Geen
10443   AH$2113  Alarm Event  2022-03-31T19:25:55.144Z     Geen
10444   AH$2113  Alarm Event  2022-03-31T19:26:15.144Z     Geen

[97145 rows x 4 columns]

In [35]:
# df_switches.groupby(['Assetnaam', 'Attribuut']).count()

                                     Timestamp  Value
Assetnaam Attribuut
AH$2113   Alarm Event                     1764   1764
          Energieoppervlakte Links         448    448
          Energieoppervlakte Rechts        448    448
          Inschakelpiek Links              448    448
          Inschakelpiek Rechts             448    448
...                                        ...    ...
ZVO$5151  Temperatuur                      253    253
          Type Event                       250    250
          VoedingsspanningMC             93389  93389
          VoedingsspanningSCC            93389  93389
          VoedingsspanningSCC12V         93389  93389

[2041 rows x 2 columns]

In [92]:
# df_swi = pd.read_csv('CGI-alles/Data/PMP Data/AH$2113_otherdata.csv', delimiter = ';')
df_switches['Timestamp'] = pd.to_datetime(df_switches['Timestamp'])
df_switches['Value'] = df_switches['Value'].apply(lambda x: x.replace(",",".") if isinstance(x,str) else x)
# df_switches['Value'] = df_switches['Value'].astype(float)

# df_second['Timestamp'] = pd.to_datetime(df_second['Timestamp'])
# df_second['Day'] = df_second['Timestamp'].dt.day
# df_second['Hour'] = df_second['Timestamp'].dt.hour
# df_second['Minute'] = df_second['Timestamp'].dt.minute
# df_second['Value']
df_switches

      Assetnaam    Attribuut                        Timestamp    Value
0       AH$2113  Motorstroom 2022-02-28 23:38:15.934000+00:00  -0.0625
1       AH$2113  Motorstroom 2022-02-28 23:38:15.954000+00:00  -0.0625
2       AH$2113  Motorstroom 2022-02-28 23:38:15.974000+00:00      0.2
3       AH$2113  Motorstroom 2022-02-28 23:38:15.994000+00:00     5.55
4       AH$2113  Motorstroom 2022-02-28 23:38:16.014000+00:00     13.2
...         ...          ...                              ...      ...
10440   AH$2113  Alarm Event 2022-03-31 17:41:41.932000+00:00     Geen
10441   AH$2113  Alarm Event 2022-03-31 19:11:42.232000+00:00     Geen
10442   AH$2113  Alarm Event 2022-03-31 19:12:02.232000+00:00     Geen
10443   AH$2113  Alarm Event 2022-03-31 19:25:55.144000+00:00     Geen
10444   AH$2113  Alarm Event 2022-03-31 19:26:15.144000+00:00     Geen

[97145 rows x 4 columns]

In [93]:
# df_second = pd.read_csv('CGI-alles/Data/PMP Data/AH$2113_otherdata.csv', delimiter = ';')

# df_second = pd.pivot_table(df_second, index=["Assetnaam","Timestamp"], columns="Attribuut", values="Value")
df_switches = df_switches.pivot_table(index=['Assetnaam', 'Timestamp'], columns="Attribuut", values="Value", aggfunc='first').reset_index()
# df_second.pivot(index=df_second.groupby("Attribuut")["Attribuut"].cumcount(), columns=df_second["Attribuut"], values=df_second["Value"])
# df_second.reset_index().groupby(['Assetnaam', 'Timestamp'])['Value'].aggregate('first').unstack()
# df_second.columns = df_second.columns.get_level_values(0)
# df_second.columns = [''.join(col).strip() for col in df_second.columns.values]
# df_second.columns = df_second.columns.to_flat_index().str.join('')
# df_second = df_second.reset_index()

df_switches['Day'] = df_switches['Timestamp'].dt.day
df_switches['Hour'] = df_switches['Timestamp'].dt.hour
df_switches['Minute'] = df_switches['Timestamp'].dt.minute

df_switches['Motorstroom']
# df_second[[('Alarm Event','Timestamp')]]

0                        NaN
1                    -0.0625
2                    -0.0625
3                        0.2
4                       5.55
                ...
87562    -0.0374999999999996
87563    -0.0374999999999996
87564    -0.0249999999999995
87565    -0.0249999999999995
87566                      0
Name: Motorstroom, Length: 87567, dtype: object

In [94]:
# df_switches['Energieoppervlakte Links'] = df_switches['Energieoppervlakte Links'].apply(lambda x: x.replace(",",".") if isinstance(x,str) else x)
# df_switches['Energieoppervlakte Links'] = df_switches['Energieoppervlakte Links'].astype(float)
# df_switches['Energieoppervlakte Links'].describe()
df_switches.convert_dtypes().dtypes

Assetnaam                                     string
Timestamp                        datetime64[ns, UTC]
Alarm Event                                   string
Energieoppervlakte Links                      string
Energieoppervlakte Rechts                     string
Inschakelpiek Links                           string
Inschakelpiek Rechts                          string
IsMaintenance                                 string
Max Omloopstroom Links                        string
Max Omloopstroom Rechts                       string
Motorstroom                                   string
MsgCounter                                    string
Omlooptijd Links Motorstroom                  string
Omlooptijd Rechts Motorstroom                 string
Positie Wissel                                string
StatusSW                                      string
StatusSW Event                                string
StatusSW Type                                 string
Temperatuur                                   string
Type Event                                    string
Day                                            Int64
Hour                                           Int64
Minute                                         Int64
dtype: object

In [93]:
# df_switches['Timestamp'] = pd.to_datetime(df_switches['Timestamp'])
# df = df_switches
# df['Timestamp'] = pd.to_datetime(df['Timestamp'])
# df['Day'] = df['Timestamp'].dt.day
# df['Hour'] = df['Timestamp'].dt.hour
# df['Minute'] = df['Timestamp'].dt.minute
# df['Value']
# # df.groupby(["Day", "Hour"])
# sns.lineplot(x = df_second['Hour'], y = df['Value'], data = df[df['Day'] == 1])

KeyError: 'Timestamp'

In [71]:
df_switches = df_switches.pivot_table(index=["Assetnaam","Timestamp"], columns="Attribuut", values="Value", aggfunc='first')
df_switches

ValueError: Unstacked DataFrame is too big, causing int32 overflow